# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# VS Code project settings (optional)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/

# OS files
.DS_Store

temp.py
# Model or checkpoint files (optional)
*.pt
*.ckpt
*.pth
*.csv 
*.xlsx

# tensorboard
runs/
